version: "3.9"

services:
  backend:
    container_name: backend
    build: .
    restart: always
    ports:
      - "8080:80" 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 3306
      DB_DATABASE: mydb
      DB_USERNAME: veha
      DB_PASSWORD: vehacgg123
    volumes:
      - ./:/var/www/html 