<div id="dashboard-section" class="content-section">
    <div class="card content-card">
        <div class="content-card-header">
            <h4 class="text-center">Welcome admin to our panel</h4>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="stat-card">
                            <h6>Total Users</h6>
                            <h3 id="total-users">0</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stat-card">
                            <h6>Total Categories</h6>
                            <h3 id="total-categories">0</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stat-card">
                            <h6>Total Images</h6>
                            <h3 id="total-images">0</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stat-card">
                            <h6>Status</h6>
                            <h3 class="text-success">Active</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

