<link rel="stylesheet" href="/static/css/panel.css">
<div class="sidebar-col" style=" width: 25%; height: 100%;" >
    <div class="sidebar-card">
        <div class="sidebar-card-header" style="background-color: #b9b9b9; box-shadow: 0 2px 4px rgba(0,0,0,.1); padding: 10px;">
            <h5 style="color: rgb(34, 34, 34); text-align: center; font-weight: 600; font-size: 26px; " 
            >List of content</h5>
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action active" data-section="dashboard">
                Dashboard
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action" data-section="users">
                Users
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action" data-section="categories">
                Categories
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action" data-section="images">
                Images
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action" data-section="chat">
                <i class="bi bi-chat-dots"></i> Chat
            </a>
        </div>
    </div>
</div>